<article class="navegacao">    
    <ul *ngIf="is_login == false">
        <li class="nav-itens"><a routerLink="home">Home</a></li>
        <li class="nav-itens"><a routerLink="cadastro">Cadastrar-se</a></li>
        <li class="nav-itens"><a routerLink="login">Entrar</a></li>
        <li class="nav-itens"><a routerLink="noticias">Noticias</a></li>
    </ul>
    <ul *ngIf="is_login">
        <li class="nav-itens"><a routerLink="#">{{nome}}</a></li>
        <li class="nav-itens"><a (click)="sair()">Logout</a></li>
    </ul>
</article>