<form>
 <div class="field formulario">
    <div class="inputLabel">
     <label for="username1" class="block formulario-label">Username</label>
     <input id="username1" type="username" class="formulario-input" aria-describedby="username1-help"/>
    </div>
    <div class="inputLabel">
     <label for="username1" class="block formulario-label">Username</label>
     <input id="username1" type="username" class="formulario-input" aria-describedby="username1-help"/>
    </div>
     <button pButton pRipple type="button" label="Cadastrar" class="p-button-outlined p-button-rounded"></button>
 </div>
</form>