<div class="noticia">
    <div class="container">
                <div class="title-all text-center">
                    <h1 class="carreira-titulo">Notícias</h1>
                    <p>Veja  nossa coluna de noticias</p>
                </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4 noticia-bloco">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="assets/images/noticia1.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3 class="carreira-titulo">Notícia #1</h3>
                            <p>Renan Dal Zotto, técnico do time masculino da Seleção de Vôlei do Brasil, diz que pretende substituir ponteiro Ricardo Lucarelli por Adriano Cavalcante: "Lucas precisa descansar.", afirma o treinador.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="assets/images/noticia2.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3 class="carreira-titulo">Notícia #2</h3>
                            <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="assets/images/noticia3.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3 class="carreira-titulo">Notícia #3</h3>
                            <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>