<ul class="list-group menu-lateral">
    <a class="link-lateral"><li class="list-group-item menu-lateral-item" routerLink="criar-time"><i class="fas fa-flag lateral-icon"></i></li></a>
    <a class="link-lateral"><li class="list-group-item menu-lateral-item" routerLink="estatistica"><i class="fas fa-search lateral-icon"></i></li></a>
    <a class="link-lateral"><li class="list-group-item menu-lateral-item" routerLink="historico"><i class="fas fa-history lateral-icon"></i></li></a>
    <a class="link-lateral"><li class="list-group-item menu-lateral-item" routerLink="pesquisa-jogador"><i class="fas fa-chart-bar lateral-icon"></i></li></a>
</ul>