<ul class="list-group lista-dashboard">
    <li class="list-group-item" routerLink="home"><a class="link-lateral"><i class="fas fa-home lateral-icon"></i></a></li>
    <li class="list-group-item" routerLink="criar-time"><a class="link-lateral"><i class="fas fa-flag lateral-icon"></i></a></li>
    <li class="list-group-item" routerLink="estatistica"><a class="link-lateral"><i class="fas fa-search lateral-icon"></i></a></li>
    <li class="list-group-item" routerLink="historico"><a class="link-lateral"><i class="fas fa-history lateral-icon"></i></a></li>
    <li class="list-group-item" routerLink="pesquisa-jogador"><a class="link-lateral"><i class="fas fa-chart-bar lateral-icon"></i></a></li>
</ul>