<ul class="list-group menu-lateral">
    <a class="link-lateral"><li class="list-group-item menu-lateral-item"><i class="fas fa-flag lateral-icon"></i></li></a>
    <a class="link-lateral"><li class="list-group-item menu-lateral-item"><i class="fas fa-search lateral-icon"></i></li></a>
    <a class="link-lateral"><li class="list-group-item menu-lateral-item"><i class="fas fa-history lateral-icon"></i></li></a>
    <a class="link-lateral"><li class="list-group-item menu-lateral-item"><i class="fas fa-chart-bar lateral-icon"></i></li></a>
</ul>