<div class="box-add-products">
    <div class="container">
        <h1 class="carreira-titulo title-all">Selecionar Carreira</h1>
        <div class="carreira">
            <div class="jogador">
                <div class="offer-box-products">
                    <img class="img-fluid" onmouseover="passouMouse" src="assets/images/jogador-1.png" alt="" />
                </div>
            </div>
            <div class="treinador">
                <div class="offer-box-products">
                    <img class="img-fluid" src="assets/images/treinador.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>