/* Header */

header {
    background-color: #171929 !important;
}

.navegacao {
    display: flex;
    justify-content: flex-end;    
    align-items: center;
    height: 100%;
}

.navegacao li a {
    color: #fff;
    margin: 5px;
    margin-right: 4vw;
    font-size: 25px;
}

.navegacao a:hover{
    color: #F0A716;
}

.logo-header img {
    object-fit: cover;
    max-width: 30%;
}

.nav-itens {
    font-size: 18px;
    display: inline;
    color: #fff;
}

.nav-itens:hover {
    color: #F0A716;
}


/* Banner */

.banner img {
    width: 100%;
    opacity: 80%;
}

/* Search */

.search {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #f5f5f5;
    height: 100px;
    border-bottom: rgb(185, 180, 180) solid 0.1px;
    padding: 100px;
}

.search-input{
    width: 500px !important;
    height: 50px;
    padding-left: 220px !important;
    border-radius: 10px;
}

.search .fa-search {
    display: inline !important;
    font-size: 16px;
}

.search .fa-search:hover {
    font-size: 22px;
}

/* Carreira */

.carreira {
    display: flex;
    gap: 5px;
}

.card {
    display: inline-block;
    position: relative;
}

.card figcaption {
    position: absolute;
    top: 95px;
    right: 320px;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 5px black;
  }

.card:hover {
    opacity: 80%;
}


.img-fluid {
    width: 600px;
    height: 300px !important;
}

.carreira-titulo {
    color: #213285 !important;
    font-size: 40px;
    text-align: center;
}

.noticia {
    width: 100%;
    background: #f5f5f5;
}


/* Footer */

.footer {
    background-color: #171929;
    padding: 50px;
}

.footer-left img {
    margin-left: 15vw;
    width: 15vw;
}

.footer-left p {
    text-align: center;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.newsletter h3 {
    color: #fff;
    font-size: 22px;
}

.newsletter input {
    width: 250px;
    margin: 10px;
}

.newsletter button {
    width: 150px;
    background-color: #f0a40b;
    border: none;
}

.newsletter button:hover {
    background-color:#593602;
}

.footer-copyright {
    background-color:  #0b0910;
    padding: 20px 0px;
    position: relative;
}

/* Cadastro */

.formulario {
    text-align: center;
    margin: 5px;
}

.formulario span {
    margin: 12px;
}

.formulario-label {
    width: 80px;
}

.formulario-input {
    width: 300px;
    height: 40px;
    opacity: 70%;
}

.p-inputtext {
    width: 400px;
    height: 40px;
    opacity: 70%;
}

.formulario-label {
    font-size: 20px;
}

.input-titulo {
    font-size: 38px;
}

.termos {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.url_termo {
    font-size: 16px;
    color: #f0a40b;
}

.form-btn {
    width: 150px;
    height: 50px;
    color: #213285;
}

.form-btn:hover {
    color: #555f86 !important;
}

.inputLabel {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.p-toast-message-content .p-toast-detail{
    margin: 0px !important;
}

/* Menu Lateral */
  
   .lista-dashboard li {
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    height: 60px;
   }

  .menu-lateral-item:hover {
    color: #F0A716;
  }

  .lateral-icon {
    font-size: 30px;
  }
  
  
  .link-lateral {
    color:  black;
  }
  
  .link-lateral:hover {
    color: #0056b3;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .list-group-item:hover {
    background-color: aliceblue;
  }

  /* Dashboard Home */

.home-dashboard {
    height: 500px;
}

.dashboard-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    height: 500px;
    width: 1500px;
}

section h1 {
    color: #213285;
}

.home-noticia {
    background-color: #fff;
    display: flex;
    gap: 10px;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-noticia h1 {
    color: #213285;
}

.home-chart {
    width: 800px;
    background-color: #fff;
}

.home-image {
    width: 60%;
}

.home-grafico{
    width: 300px;
}
  
